<template>
  <v-card class="elevation-12">
    <v-card-text>
      <v-select
        v-model="unidade"
        :items="unidades"
        item-text="unidade"
        item-value="url"
        label="Unidade"
        solo
      ></v-select>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>

      <div class="mt-2">
        <v-btn color="primary" @click="redirect(unidade)">Acessar</v-btn>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
import Home from '@/layouts/Home.vue'

export default {
  layout: Home,

  props: {
    unidades: {
      type: Array,
      required: true,
      default() {
        return []
      },
    },
  },

  data() {
    return {
      unidade: null,
    }
  },

  methods: {
    redirect(url) {
      if(url) {
        window.location.href = `http://${url}`
      }
    },
  },
}
</script>
