<template>
  <v-navigation-drawer v-model="drawer" app dark floating>
    <v-list dense dark>
      <SidebarHead />
      <v-divider class="my-2"></v-divider>
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.usuarios.permissao)" :item="items.usuarios" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.ativos.permissao)" :item="items.ativos" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.entradas.permissao)" :item="items.entradas" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.transferencias.permissao)" :item="items.transferencias" />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import SidebarHead from '@/components/shared/Sidebar/SidebarHead.vue'
import SidebarItem from '@/components/shared/Sidebar/SidebarItem.vue'

export default {
  components: {
    SidebarHead,
    SidebarItem,
  },

  data() {
    return {
      drawer: false,
      items: {
        usuarios: {
          link: this.route('unidade.usuarios.index', { tenant: this.$page.props.unidade }),
          icon: 'people',
          text: 'Usuários',
          permissao: 'usuario-index',
        },
        ativos: {
          link: this.route('unidade.ativos.index', { tenant: this.$page.props.unidade }),
          icon: 'store',
          text: 'Ativos',
          permissao: 'ativo-index',
        },
        entradas: {
          link: this.route('unidade.entradas.index', { tenant: this.$page.props.unidade }),
          icon: 'category',
          text: 'Entradas',
          permissao: 'entrada-index',
        },
        transferencias: {
          link: this.route('unidade.transferencias.index', { tenant: this.$page.props.unidade }),
          icon: 'swap_horiz',
          text: 'Transferências',
          permissao: 'transferencia-index',
        },
      },
    }
  },
}
</script>
