<template>
  <Link :href="item.link" as="v-list-item" exact>
      <v-list-item-icon>
        <v-icon v-text="item.icon"></v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title v-text="item.text"></v-list-item-title>
      </v-list-item-content>
  </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue'

export default {
  components: {
    Link,
  },

  props: {
    item: {
      type: Object,
      required: true
    },
  },
}
</script>
