<template>
  <v-list-item>
    <v-container>
      <v-row class="mt-3">
        <span class="mx-auto text-white-50">{{ appname }}</span>
      </v-row>
    </v-container>
  </v-list-item>
</template>

<script>
export default {
  computed: {
    appname: function () {
      return this.$page.props.appName;
    }
  }
};
</script>
