<template>
  <v-card class="elevation-12">
    <v-form @submit.prevent="confirmacao">
      <v-card-text>
        <v-text-field
          id="password"
          v-model="form.password"
          prepend-icon="lock"
          name="password"
          label="Senha"
          type="password"
          outlined
          dense
          :error-messages="form.errors.password"
          @input="form.clearErrors('password')"
          @blur="form.clearErrors('password')"
        >
        </v-text-field>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="primary"
          :loading="form.processing"
          :disabled="form.processing"
          type="submit"
          >Confirmar senha</v-btn
        >
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import Auth from '@/layouts/Auth.vue'

export default {
  layout: Auth,

  data() {
    return {
      form: this.$inertia.form({
        password: null,
      }),
    }
  },

  methods: {
    confirmacao() {
      this.form.post(this.route('unidade.password.confirm', {tenant: this.$page.props.unidade}))
    },
  },
}
</script>
