<template>
  <v-card class="elevation-12">
    <v-form @submit.prevent="recuperarsenha">
      <v-card-text>
        <v-text-field
          v-model="form.email"
          prepend-icon="person"
          name="email"
          label="E-mail"
          type="text"
          outlined
          dense
          :error-messages="form.errors.email"
          @input="form.clearErrors('email')"
          @blur="form.clearErrors('email')"
        >
        </v-text-field>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="primary"
          :loading="form.processing"
          :disabled="form.processing"
          type="submit"
          >Enviar link de recuperação de senha</v-btn
        >
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import Auth from '@/layouts/Auth.vue'

export default {
  layout: Auth,

  data() {
    return {
      form: this.$inertia.form({
        email: null,
      }),
    }
  },

  methods: {
    recuperarsenha() {
      this.form.post(this.route('unidade.password.email', {tenant: this.$page.props.unidade}))
    },
  },
}
</script>
