<template>
  <v-data-table
    :headers="headersComputados"
    :items="transferencias"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma entrada encontrada"
    no-results-text="Entrada não encontrada"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Entradas</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoEditar" v-model="dialogAprove" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja aceitar essa entrada?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeAprove">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="itemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoEditar" v-model="dialogReprove" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja recursar essa entrada?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeReprove">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="itemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.status="{ item }">
      <v-chip :color="getColor(item.status)" label x-small dark>
        {{ item.status }}
      </v-chip>
    </template>
    <template v-if="permissaoEditar" v-slot:item.actions="{ item }">
      <v-icon v-if="item.status === 'PENDENTE'" small class="mr-2" @click="aproveItem(item)">done</v-icon>
      <v-icon v-if="item.status === 'PENDENTE'" small color="red" @click="reproveItem(item)">clear</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Unidade from '@/layouts/Dashboard/Unidade.vue'

export default {
  layout: Unidade,

  props: {
    transferencias: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Ativo', align: 'center', sortable: true, value: 'ativo_id'},
         { text: 'Unidade Origem', align: 'center', sortable: true, value: 'unidade_origem'},
         { text: 'Unidade Destino', align: 'center', sortable: true, value: 'unidade_destino'},
         { text: 'Quantidade', align: 'center', sortable: true, value: 'quantidade'},
         { text: 'Status', align: 'center', sortable: true, value: 'status'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialogAprove: false,
      dialogReprove: false,
      editedIndex: -1,
      form: this.$inertia.form({
        status: null
      })
    }
  },

  computed: {
    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialogAprove (val) {
      val || this.closeAprove()
    },
    dialogReprove (val) {
      val || this.closeReprove()
    },
  },

  methods: {
    aproveItem (item) {
      this.editedIndex  = this.transferencias.indexOf(item)
      this.dialogAprove = true
      this.form.status  = 'CONFIRMADA'
    },

    closeAprove () {
      this.dialogAprove = false
      this.$nextTick(() => {
        this.editedIndex  = -1
        this.form.status  = null;
      })
    },

    reproveItem (item) {
      this.editedIndex   = this.transferencias.indexOf(item)
      this.dialogReprove = true
      this.form.status   = 'REPROVADA'
    },

    closeReprove () {
      this.dialogReprove = false
      this.$nextTick(() => {
        this.editedIndex  = -1
        this.form.status  = null;
      })
    },

    itemConfirm() {
      this.form.put(this.route('unidade.entradas.update', {
        tenant: this.$page.props.unidade,
        entrada: this.transferencias[this.editedIndex].id
        }), {
        onSuccess: () => {
          this.closeReprove()
          this.closeAprove()
        }
      });
    },

    getColor(status) {
      if(status === 'PENDENTE') {
        return 'blue';
      }
      if(status === 'REPROVADA') {
        return 'red';
      }
      if(status === 'CONFIRMADA') {
        return 'green ';
      }
    }
  }
}
</script>
