<template>
  <v-data-table
    :headers="headersComputados"
    :items="notasFiscais"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma nota fiscal encontrada"
    no-results-text="Nota fiscal não encontrada"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Notas Fiscais</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="650px">
          <template v-if="permissaoCriar" #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Nova nota fiscal
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model.number="form.numero_nota_fiscal"
                      label="Numero da Nota Fiscal"
                      outlined
                      counter="44"
                      :error-messages="form.errors.numero_nota_fiscal"
                      @input="form.clearErrors('numero_nota_fiscal')"
                      @blur="form.clearErrors('numero_nota_fiscal')">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-text-field
                      v-model="form.comprado_at"
                      type="date"
                      label="Data de compra"
                      outlined
                      :error-messages="form.errors.comprado_at"
                      @input="form.clearErrors('comprado_at')"
                      @blur="form.clearErrors('comprado_at')">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.fornecedor_id"
                      :items="fornecedores"
                      item-text="titulo"
                      item-value="id"
                      label="Fornecedor"
                      outlined
                      :error-messages="form.errors.fornecedor_id"
                      @input="form.clearErrors('fornecedor_id')"
                      @blur="form.clearErrors('fornecedor_id')">
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-if="permissaoEditar || permissaoDeletar" v-slot:item.actions="{ item }">
      <v-icon v-if="permissaoEditar" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    notasFiscais: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },

    fornecedores: {
      type: Array,
      required: true,
      default() {
        return []
      },
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Nota Fiscal', align: 'center', sortable: true, value: 'nota_fiscal'},
         { text: 'Fornecedor', align: 'center', sortable: true, value: 'fornecedor.titulo'},
         { text: 'Data de compra', align: 'center', sortable: true, value: 'comprado_at'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      form: this.$inertia.form({
        numero_nota_fiscal: null,
        fornecedor_id: null,
        comprado_at: null
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Nota Fiscal' : 'Editar Nota Fiscal'
    },

    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar || this.permissaoDeletar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex             = this.notasFiscais.indexOf(item)
      this.form.numero_nota_fiscal = item.nota_fiscal
      this.form.comprado_at        = item.comprado_at
      this.form.fornecedor_id      = item.fornecedor.id
      this.dialog                  = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.notas-fiscais.update', { notas_fiscai: this.notasFiscais[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.notas-fiscais.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex             = -1
        this.form.numero_nota_fiscal = null
        this.form.comprado_at        = null
        this.form.fornecedor_id      = null
      })
    },

    deleteItem (item) {
      this.editedIndex             = this.notasFiscais.indexOf(item)
      this.form.numero_nota_fiscal = item.nota_fiscal
      this.form.comprado_at        = item.comprado_at
      this.form.fornecedor_id      = item.fornecedor.id
      this.dialogDelete            = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.notas-fiscais.destroy', { notas_fiscai: this.notasFiscais[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex             = -1
        this.form.numero_nota_fiscal = null
        this.form.comprado_at        = null
        this.form.fornecedor_id      = null
      })
    },
  }
}
</script>
