<template>
  <v-app id="inspire">
    <Sidebar ref="sidebar"/>
    <Navbar @toggle="$refs.sidebar.drawer = !$refs.sidebar.drawer"/>

    <v-main>
      <v-container class="px-4 py-8" fluid>
        <v-alert v-if="$page.props.flash.message.success" dismissible outlined text type="success">{{ $page.props.flash.message.success }}</v-alert>
        <v-alert v-if="$page.props.flash.message.error" dismissible outlined text type="error">{{ $page.props.flash.message.error }}</v-alert>
        <v-alert v-if="$page.props.flash.message.info" dismissible outlined text type="info">{{ $page.props.flash.message.info }}</v-alert>
        <v-alert v-if="$page.props.flash.message.warning" dismissible outlined text type="warning">{{ $page.props.flash.message.warning }}</v-alert>
        <slot></slot>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Sidebar from '@/components/central/Sidebar/Index.vue';
import Navbar from '@/components/central/Navbar/Index.vue';

export default {
  components: {
    Sidebar,
    Navbar,
  },
}
</script>

<style>
html {
  overflow-y: auto;
}
</style>
